*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-track {
//  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
   background:transparent;
}

*::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 10px rgba(0,0,0,.1) inset;
//    background:rgba(220,220,220,.3);
//opacity: 0.3;
  transition: box-shadow 0.2s linear;
}
*::-webkit-scrollbar-thumb:hover {
//  background:rgba(220,220,220,1);
box-shadow: 0 0 0 10px rgba(0,0,0,.4) inset;
  transition: box-shadow 0.2s linear;
}

*::-webkit-scrollbar-corner {
  background: transparent !important;
}
::selection{
   background:#7cf;
}
body,html{
   background:#aaa;
   overflow-x: hidden;
   padding:0px;
   margin:0;
}
.page{
   width:calc(100% - 20px);
   margin: 10px;
   border-radius: 4px;
   background: #fefaf0;
   min-height: calc(100vh - 20px);
   box-shadow: 0 2px 6px #333;
   text-shadow: 1px 1px 1px #fff;
   padding:3px;
   color:#070707;
   column-fill:auto;
}
@media screen and (max-width: 1260px){
   .page{
      column-count:1 !important;
   }
}
@media screen and (min-width: 1261px) and (max-width: 1920px){
   .page{
      height: calc(100vh - 20px);
//      height:auto;
      overflow-x: scroll;
      column-count: 2;
      column-gap: 20px;
      column-rule: 3px dashed #bbb;
   }
}
@media screen and (min-width: 1920px){
   .page{
      height: calc(100vh - 20px);
      column-width: 900px;
      column-gap: 20px;
      column-rule: 3px dashed #bbb;
   }
}
.page{
   font-family: Gentium Book Basic,Linux Libertine Display O;
   font-size:18px;
   position:relative;
}
.page code{
   font-family:Monaco,Consolas,Courier New;
   font-size:16px;
   display: inline-block;
   border: #d7d7d7 1px solid;
   border-radius:3px;
   background:#e5e5e5;
   padding-top:2px;
   line-height:18px;
}
.page pre.codehlt{
   display:block;
   width:600px;
   height:500px;
   text-shadow:none;
}
h1{
   font-size:42px;
}
h1 sub{
   display:block;
   font-size:22px;
   color:#333;
   text-indent:30px;
   font-family:Bitstream Charter;
}
div.ct_sp{
   /*containing a dividual page*/
   height:calc(100vh - 26px);
}
blockquote.heading.h1l{
   margin-left:30px;
   font-size:22px;
   color:#000;
   min-height:200px;
   background:rgba(255,255,255,.5);
   border-radius:10px;
   padding:5px;
}
h2{
   font-size:36px;
   border-bottom:2px solid #aaa;
}
h3{
   font-size:32px;
}
h4{
   font-size:26px;
   height:24px;
}
h5{
   font-size:22px;
}
h6{
   font-size:20px;
}
h1,h2,h3,h4,h5,h6{
   color:#000;
   font-family:Linux Libertine Display O;
}


.page ul li {
   list-style: none !important;
   margin-bottom:0px !important;
}
.page ul li {
   list-style: none !important;
   margin-bottom:0px !important;
}
.page ul p {
   margin:0px !important;
   margin:0px !important;
   margin:0px !important;
}
.page ul {
   margin-left:3px !important;
}
.page ul {
   margin-left:3px !important;
}
.page ul li:nth-child(odd) {
   border-left: 2px solid #ccc;
   padding-left:4px;
   background:rgba(127,127,127,.1);
}
.page ul li:nth-child(even) {
   border-left: 2px solid #bbb;
   background:rgba(255,255,255,.1);
   padding-left:4px;
}
* a{
   text-decoration: none;
   color:#3399ff;
   border-bottom:1px transparent dashed;
}
* a:hover{
   border-bottom:1px solid #4af;
   transition:.2s linear;
}
* a:visited{
   color:#26e;
}
.float{
   position:absolute;
}
space{
   display:inline-block;
}
.float.downside{
   right:0px;
   bottom:0px;
   border-radius:0 0 4px 0;
   background:rgba(255,255,255,.8);
   height:30px;
   line-height:36px;
   margin:3px;
}
